<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender"><!--type指定哪种介质-->
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
          </layout>
      </appender>
      <!--指定日记记录方式，以滚动文件的方式（文件记录）-->
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
          <!--日志路径-->
          <file value="Log/" />
          <!--是否是向文件中追加日志-->
          <appendToFile value="true" />
          <!--log保留天数-->
          <maxSizeRollBackups value="10" />
          <!--每个文件最大1M-->
          <maximumFileSize value="1MB" />
          <!--日志根据日期滚动-->
          <!--<rollingStyle value="Composite" />-->
          <!--<rollingStyle value="Size" />-->
          <rollingStyle value="Date" />
          <!--日志文件名格式为:20080831.log-->
          <datePattern value="yyyyMMdd.log" />
          <!--日志文件名是否是固定不变的-->
          <staticLogFileName value="false" />
          <!--布局-->
          <layout type="log4net.Layout.PatternLayout">
              <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
              <!--<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />-->
              <conversionPattern value="%date [%thread] %-5level %logger.%method [%property{NDC}] [%line] - %message%newline %exception%newline" />
          </layout>
      </appender>
      <root>
          <!--level由高到低级别：None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
          <level value="ALL"/>
          <appender-ref ref="ConsoleAppender" />
          <appender-ref ref="RollingLogFileAppender" />
      </root>
  </log4net>
</configuration>
<!--
  输出样式：
    %m(message)：输出的日志消息，如ILog.Debug(…)输出的一条消息
    %n(newline)：换行
    %d(datetime)：输出当前语句运行的时刻
    %r(run time)：输出程序从运行到执行到当前语句时消耗的毫秒数
    %t(thread id)：当前语句所在的线程ID
    %p(priority)：日志的当前优先级别，即DEBUG、INFO、WARN…等
    %c(class)：当前日志对象的名称
    %f(file)：输出语句所在的文件名
    %l(line)：输出语句所在的行号
    %数字：表示该项的最小长度，如果不够，则用空格填充，如“%-5level”表示level的最小宽度是5个字符，如果实际长度不够5个字符则以空格填充
-->